
.basketButton{
  width: auto;
  height: 2rem;
}


.r{
  background-color: red;
}

.descriptionGrid{
  border: solid transparent;
  border-color: black;
  border-radius: 20px;

}

.descriptionText{
  font-size: large;
}
