<br />
<br />

<button
  pButton
  pRipple
  *ngIf="tableName === 'Trainer'"
  type="button"
  icon="pi pi-plus"
  label="Dodaj"
  class="p-button-rounded"
  (click)="addRow()"
></button>
<br />
<br />
<p-table
  [value]="tableInput"
  styleClass="p-datatable-striped"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let header of headers">
        {{ header }}
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element>
    <tr (click)="openDialog(element)" class="cursor-pointer">
      <td *ngFor="let header of headers">
        {{ element[header] }}
      </td>
    </tr>
  </ng-template>
</p-table>
<app-basket-dialog
  *ngIf="showBasketDialog"
  [showDialog]="showBasketDialog"
  (deleteItself)="closeDialog()"
  [basket]="element"
></app-basket-dialog>

<app-user-dialog
  *ngIf="showUserDialog"
  [showDialog]="showUserDialog"
  (deleteItself)="closeDialog()"
  [mode]="'a'"
></app-user-dialog>
