h2{
  color: white;
}

a{
  font-size: larger;
}


.section-border{
  border:  solid;
  border-radius: 15px;
  padding: 1rem;
  margin: 0.5rem;
}


.grid-border{
  border: solid;
  border-radius: 15px;
  margin: 1rem;
}

.side-menu{
  background-color: darkblue;
}
