<div class="grid mt-5" *ngIf="basket.products.length > 0">
  <div class="col-3"></div>
  <span></span>
  <div class="col-4">
    <p><b>Proizvod</b></p>
    <div *ngFor="let product of basket.products">
      <p>{{ product.name }}</p>
    </div>

    <hr />
  </div>
  <div class="col-1">
    <p><b>Količina</b></p>
    <div *ngFor="let product of basket.products">
      <p>{{ product.quantity }}</p>
    </div>

    <hr />
  </div>
  <div class="col-1">
    <p><b>Cena</b></p>
    <div *ngFor="let product of basket.products">
      <p>
        {{ product.price * product.quantity }} RSD
        <a
          class="x-button cursor-pointer purple"
          (click)="removeProduct(product)"
          pRipple
          >X</a
        >
      </p>
    </div>

    <hr />
    <p><b>Ukupna cena</b></p>
    <p>{{ getTotalPrice() }} RSD</p>
    <button
      pButton
      pRipple
      type="button"
      label="Kupi"
      class="p-button-rounded p-button-success"
      (click)="proceedToPayment()"
    ></button>
  </div>
</div>
<div class="flex justify-content-center" *ngIf="basket.products.length == 0">
  <div>
    <h1>Korpa je prazna</h1>
  </div>
</div>
